{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="mx-5">
<div class="row row-cols-1 row-cols-md-5 px-5 mx-5 g-4  " >
    {% for product in products%}
      <div class="col mt-5">
        <div class="card h-100">
            <a href="{% url 'detail' product.pk %}"><img style="weight:100px; height:150px;"  src="{{ product.picture.url }}" class="card-img-top" alt="..."></a>
          <div class="card-body">
           <div class="d-flex justify-content-between">
                <h6 class="card-title">
                    <a style="text-decoration:none; color:black;" href="{% url 'detail' product.pk %}">
                        {{ product.name| truncatechars:25 }}
                    </a>
                </h6>
                <button class="border-0 bg-transparent">
                    <i class="bi bi-heart"></i>
                </button>
           </div>
            <p class="card-text" style="font-size:14px;">{{ product.description | truncatechars:70 }}</p>
            <h6><i class="bi bi-currency-dollar"></i>{{ product.price}}</h6>
          </div>
          <div class="card-footer" style="font-size:12px;">
            <small class="text-muted">{{ product.adress }} | {{ product.created_at|date:'M d, Y' }}</small>
          </div>
        </div>
      </div>
    {% endfor %}
</div>
</div>

{% endblock content %}