{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Profilni tahrirlash{% endblock  %}
{% block content %}

<div class="row">
    <div class="col-5 position-absolute top-50 start-50 translate-middle">
        <h2 class="mt-3"> Profilni tahrirlash</h2>
        <form action="" method="post">{% csrf_token %}
            {{ form | crispy }}
            <input type="submit" class="btn btn-success" value="Profilni tahrirlash">
        </form>
    </div>
</div>

{% endblock content %}